[user]
  name = Radosław Grochowski
[core]
  editor = nvim
  excludesFile = ~/.gitignore
[diff]
	tool = vimdiff
	colorMoved = zebra
[merge]
	tool = vimdiff
[mergetool "vimdiff"]
	path = nvim
[url "git@github.com:"]
	insteadOf = https://github.com/
[push]
	default = current
	autoSetupRemote = true
[fetch]
  prune = true
[include]
  path = ~/.gitconfig.local
[alias]
  master-branch-name = "!f() { git symbolic-ref refs/remotes/origin/HEAD | sed \"s@^refs/remotes/origin/@@\" ; }; f"
  fomo = !git fetch origin $(git master-branch-name) && git rebase origin/$(git master-branch-name)
  fopo = !git fetch origin $(git master-branch-name) && git pull origin $(git master-branch-name) --no-rebase
  shove = !git push --force-with-lease --force-if-includes
