[user]
	email = rg@fard.pl
	name = Radosław Grochowski
[core]
	editor = vi
[diff]
	tool = vimdiff
	colorMoved = zebra
[merge]
	tool = vimdiff
[mergetool "vimdiff"]
	path = nvim
[url "git@github.com:"]
	insteadOf = https://github.com/
[push]
	default = current
	autoSetupRemote = true
[fetch]
	prune = true
