name: flake

on:
  pull_request:
    paths:
      - "**/*.nix"
      - ".github/workflows/flake.yml"
      - "flake.lock"
  push:
    branches:
      - master
    paths:
      - "**/*.nix"
      - ".github/workflows/flake.yml"
      - "flake.lock"

jobs:
  check-flake:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: DeterminateSystems/flake-checker-action@main
      - uses: DeterminateSystems/nix-installer-action@v17
      - uses: cachix/cachix-action@v16
        with:
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          name: radoslawgrochowski-dotfiles
      - run: nix flake check --show-trace --all-systems

  build-flake:
    needs: check-flake
    timeout-minutes: 30
    strategy:
      max-parallel: 1
      matrix:
        include:
          - name: radoslawgrochowski-wsl
            os: ubuntu-latest
            output: ".#nixosConfigurations.radoslawgrochowski-wsl.config.system.build.toplevel"
          - name: macaron
            os: macos-latest
            output: ".#darwinConfigurations.macaron.config.system.build.toplevel"
    name: ${{ matrix.name }}-build
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: DeterminateSystems/nix-installer-action@v17
      - uses: cachix/cachix-action@v16
        with:
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          name: radoslawgrochowski-dotfiles
      - run: sudo touch /etc/nix/ca_cert.pem
      - run: nix build ${{ matrix.output }} -L --show-trace --accept-flake-config
